*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header */

.header-top{
    height: 80px;
    line-height: 80px;
    color: blueviolet;
    font-size: 3em;
    padding: 0px 20px;
}

.header-bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    background-color: blueviolet;
    gap: 20px;
    color: white;
}

/* main */
.container{
    max-width: 1000px;
    margin: 20px auto;
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    padding: 20px;
    background-color: lightgray;
}

main .icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-basis: calc(100% / 5);
    height: 150px;
    gap: 50px;
    border: 1px solid black;
    border-radius: 40px;
    font-size: 1.2em;
}