*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    width: 90%;
    margin: auto;
}

/* header */

header .header-top{
    height: 80px;
    display: flex;
    align-items: center;
    font-size: 2.5em;
    color: #29b1dd;
    padding-left: 5px;
    font-weight: bold;
}

header .header-bottom{
    background-color: #29b1dd;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    font-size: 1.5;
}

/* main */
main .container{
    background-color: lightgray;
    height: calc(100vh - 130px);
    display: flex;
    flex-wrap: wrap;
    padding: 50px;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

main .icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: calc(100% / 5);
    height: 150px;
    border: 3px solid black;
    border-radius: 30px;
    gap: 20px;
    font-size: 1.5em;
    font-weight: bold;
}

main .icon:hover{
    background-color: lightsalmon;
    cursor: pointer;
}