*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* header */

.header-top{
    height: 80px;
    line-height: 80px;
    color: blueviolet;
    font-size: 3em;
    padding: 0px 20px;
}

.header-bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    background-color: blueviolet;
    gap: 20px;
    color: white;
}

/* main */
.container{
    max-width: 1300px;
    height: 800px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: lightgray;
}

main .icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-basis: calc(100% / 5);
    height: 150px;
    gap: 50px;
    border: 3px solid black;
    border-radius: 40px;
    font-size: 1.5em;
    text-transform:capitalize;
    font-weight: bold;
}

main .icon:hover{
    background-color: aqua;
    color: #222;
}